<!--Author: Vanessa Machado
    This program will show 10 books per page and dynamically create pages as more books are potentially added. Uses repositories-->
@{
    ViewData["Title"] = "Bookstore Galore";
}
@model BooksViewModel
<!--Pull data from database to display on page, pass model to partial view in shared folder-->

@foreach(Book b in Model.Books)
    {
        <partial name="BookSummary" model="b"/>
    }

<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-info" class="btn-group pull-right m-1"></div>